* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: rgb(0, 0, 0);
}

h1, h3 {
color: rgb(250, 250, 250);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
letter-spacing: 2px;
padding-left: 10px;
padding-right: 10px;
}

#logo {
    float: left;
    font-size: large;
    margin-left: 10px;
}

.nav {
background-color: rgb(0, 0, 0);
text-align: center;
display: block;
width: 100%;
height: 75px;
padding-top: 5px;
}

.nav li {
    display: inline-block;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#menu {
    float: right;
    list-style-type: none;
    margin-right: 10px;
}

.gameBoard {
    background-color: rgb(3, 3, 3);
  background-image: linear-gradient( rgb(3, 3, 3),rgb(59, 197, 240), rgb(3, 3, 3));
    text-align: center;
    color: rgb(248, 249, 250);
    width: 100%;

}

a {
   text-decoration: none; 
   color: aliceblue;
}


.box {
  
    position: relative;
    width: 350px;
      height: 520px;
      display: inline-block;
      border-radius: 10px;
      
    }
    
    #playerCard {
        background-color: rgb(24, 245, 4);
        background-image: url(/assets/images/playerportrait.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: 10px;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(57, 247, 9);
    }
    
    #computerCard {
        background-color: rgb(226, 13, 24);
        background-image: url(/assets/images/computerportrait.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: 10px;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(247, 9, 9);
    }
    
    #playerChoiceDisplay {
      /* background-color: green; */
      position: absolute;
      top: 80%;
      right: 250px;
      width: 90px;
      height: 90px;
      display: inline-block;
      /* border: 2px; */
      border-style: solid;
      border-color: greenyellow;
      
      
    }
    
    p {
      font-size: small;
    }
    
    #computerChoiceDisplay {
      /* background-color: red; */
      position: absolute;
      top: 80%;
      left: 250px;
      width: 75px;
      height: 25px;
      display: inline-block;
      /* border: 2px; */
      border-style: solid;
      border-color: darkred;
     
    }
    
    
    #cardContainer {
     
      position: relative;
      display: inline-block;
      
    }
    #vs {
      display: inline-block;
      width: 40px;
      height: 20px;
      
      border-radius: 0;
      text-align: center;
      vertical-align: text-bottom;
     padding-bottom: 300px;
     padding-left: 2px;
     padding-right: 16px;
      }
    
    #cardArea {
      width: 100%;
      text-align: center;
      margin: auto;
    }
  
    .button {
        background-color: lightblue;
        height: 50px;
        border-radius: 20px;
        padding-top: 10pxp;
        padding-bottom: 2px;
        text-align: center;
        width: fit-content;
        }

        #rock{
          background-color: transparent;
          background-image: url(/assets/images/rock_select.png);
           background-size: 100px 100px;
        border: 2px solid black;
        border-radius: 50%;
        margin-left: 10px;
        background-repeat: no-repeat;
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 0%;
        padding-bottom: 0%;
        width: 100px;
        height: 100px;
         
        }
      
        #paper{
          background-color: transparent;
          background-image: url(/assets/images/paper_select.png);
           background-size: 100px 100px;
        border: 2px solid black;
        border-radius: 50%;
        margin-left: 10px;
        background-repeat: no-repeat;
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 0%;
        padding-bottom: 0%;
        width: 100px;
        height: 100px;
         
        }

        #scissors{
          background-color: transparent;
          background-image: url(/assets/images/scissors_select.png);
           background-size: 100px 100px;
        border: 2px solid black;
        border-radius: 50%;
        margin-left: 10px;
        background-repeat: no-repeat;
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 0%;
        padding-bottom: 0%;
        width: 100px;
        height: 100px;
         
        }
        
        #choiceButtons {
          text-align: center;
          width: 100%;
         
        }
        
        #scoreSection{
          margin-top: 20px;
          text-align: center;
          width: 100%;
        
        }

        /* #roundResult{
          background-image: url(/assets/images/computerportrait.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
          background-color: gold;
          border: 2px;
          border-style: solid;
          border-color: goldenrod;
          text-align: center;
          vertical-align: text-top;
          height: 50px;
          width: 400px;
          display: inline-block;
          margin-left: 5px;
          margin-right: 5px;
          border-radius: 5px;
          
        } */

        #roundResult{
          background-image: url(/assets/images/rock1.png);
        border: 2px solid black;
        padding: 25px;
        background-repeat: no-repeat;
        background-size: 450px 100px;
        width: 400px;
        height: 54px;
        text-align: center;
          vertical-align: text-top;
          display: inline-block;
        }

        
        #computerScoreDisplay {
          display: inline-block;
          height: 45px;
          width: 20px;
          background-color: white;
          color: black;
          vertical-align: text-top;
          
        }
        
        #playerScoreDisplay {
          display: inline-block;
          height: 45px;
          width: 20;
          background-color: white;
          color: black;
          vertical-align: text-top;
          
          
        }





.portrait {
    background-color: rgb(133, 245, 4);
    display: inline-block;
    color: rgb(248, 249, 250);
    width: 300px;
    height: 450px;
    margin-top: 10px;
    

}

#enemyPortrait {
    background-color: rgb(226, 13, 24);
    background-image: url(/assets/images/computerportrait.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(247, 9, 9);
}

#heroPortrait {
    background-color: rgb(24, 245, 4);
    background-image: url(/assets/images/playerportrait.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(57, 247, 9);
}

#result {
    /* background-color: rgb(85, 85, 85); */
    display: inline-block;
    vertical-align: bottom;
    color: rgb(255, 255, 255);
    width: 400px;
    height: 100px;
    border-radius: 10px;

    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);

    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#result p{
    vertical-align: bottom;
}
/* 
#computerScoreDisplay {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    vertical-align: bottom;
    color: rgb(0, 0, 0);
    width: 75px;
    height: 30px;
    border-radius: 5px;

    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 4, 4);


    margin-bottom: 85px;
    margin-left: 5px;
    margin-right: 50px;
}

#computerScoreDisplay h3{
color: black;
}

#playerScoreDisplay {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    vertical-align: bottom;
    color: rgb(0, 0, 0);
    width: 75px;
    height: 30px;
    
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(57, 247, 9);

    margin-bottom: 85px;
    margin-left: 50px;
    margin-right: 5px;
}

#playerScoreDisplay h3{
    color: black;
}

#buttons {
    background-color: rgb(6, 82, 126);
    display: inline-block;
    vertical-align: bottom;
    color: rgb(0, 0, 0);
    width: 500px;
    height: 75px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
} */


.about {
    margin: auto;
    color: white;
    width: 600px;
    height: 500px;
   
    
    
}

#about{
    text-align:center;
   
}

.about li {
    text-align: left;
    
    
}

.footer {
    background-color: rgb(0, 0, 0);
    text-align: center;
    display: block;
    width: 100%;
    height: 75px;
    padding-top: 20px;

    }
    
    .footer li {
        display: inline-block;


        
    }
